@charset "UTF-8";
html { background-color: ghostwhite; }
body {
	background-color: white;
	font-size-adjust: 100%;
    width: 980px;
    height: auto;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0px auto 0px auto;
}
header, nav, article, aside, footer {
	margin: 40x;
	background-color: white;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
    text-indent: 25px;
    margin-top: 20px;
	padding: 15px;
}

h1 {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}
h2 {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
}
h3 {
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    color: black;    
}
ul li {
    display: inline;
}

ul li a {
    text-decoration: none;
    padding: 0px,10px,0px,10px;
    font-family: sans-serif;
    margin: 20px;
    color: black;
}
ul li a:hover {
    background-color: ghostwhite;
    color: gold; 
    }
footer {
    width: 700px;
    background-color: black;
    color: gold;
    clear: both;
    height: auto;
    padding: 5px 0 0 0;
}
address {
    font-family: sans-serif;
    background-color: #ccc;
    margin: 40px 0 0 10px;
    }
address a {
    text-decoration: none;
    color: #000;   
}
address a:hover{
    color: white;
}

.cabecalho {
    margin-left: 230px;  
}

/*##################################### NAV ######### NAV #################### NAV ##############################*/



.menu {
    list-style: none;
    float: left;
    background-color:black;
    width: 940px;
}
.menu li {
    position: relative;
    float: left;
}
.menu li a{
    color: white;
    text-decoration: none;
    display: block; 
    padding: 10px 25px 12px 12px;
}
.menu li a:hover{
    background: gold;
    color: black;
    -moz-box-shadow: 0 3px 10px 0 #ccc;
    webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0 0 5px #fff;  
}
.submenu {
  list-style: none;
    float: right;
    background-color:black;
    width: 820px;
}

/*##################################### NAV ######### NAV #################### NAV ##############################*/

article {
    width: 980px;
    margin-top: 0;
    float: left;
}
aside {
    width: 450px;
    float:none;
    margin-left: 50px;
    margin-top: 0px;
}        
}
.text-end {
    margin-left: 215px;
    font-size: 20px;
}
footer {
    width:980px;
    margin-left:
    clear: both;
}